html{
    background-color: #3b4a81;
}

body,
html {
  height: 100%;
}

body {
  background: no-repeat linear-gradient(15deg, #3b4a81 50%, #2c2f33 50.1%);
}
/* body{
    display: flex;
    flex-direction: column;
    height: 100%;
} */
header{
    flex: 0 0 auto;
}
footer{
    margin-top: 8%;
    background-color: #23272a;
    width: 100%;
    height: 8%;
    align-items: center;
    display: flex;
}
.main{
    color: white;
    flex: 1 0 auto;
}
.nav-container{
    display: flex;
    justify-content: center;
    background-color: #23272a;
    padding-right: 15px;
}
.site-nav{
    display: flex;
    align-items: center;
    min-height: 90px;
}

.site-nav > a{
    margin: 20px;
    text-decoration: none;
    color: #b9b9b9;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 450;
    font-family: 'Roboto', sans-serif;
    transition: color .5s;
}
.site-nav > a:hover{
    color: white;
}
.btn-invite{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 800;
    color: white;
    background-color: #738cdf;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 20px;
    transition: background-color .5s;
}
.btn-invite:hover{
    background-color: #6075bd;
}
.icon{
    margin-right: 5px;
}
.center{
    text-align: center;
    justify-content: center;
}
.fondo-gris{
    background-color: #2c2f33;
    color: white;
}
h1{
  font-weight: bold;
  font-size: 3rem;
  font-family: 'roboto';
  color: #7289da;
  margin: 4%;
  margin-left: 0%;
  margin-right: 0%;
  margin-block-end: 12%;
  text-align: left;
}
h2{
  font-weight: bold;
  font-size: 2rem;
  font-family: 'roboto';
  color: white;
  margin: 1%;
  margin-top: 5%;
}
.contenedor{
  margin: auto;
  width: 80%;
}
p{
  font-family: roboto;
  font-size: 0.5cm;
}




/* weas pa la tabla*/
div.table-title {
    display: block;
   margin: auto;
   max-width: 600px;
   padding:5px;
   width: 100%;
 }
 
 .table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
 }
 
 
 /*** Table Styles **/
 
 .table-fill {
   border-radius:3px;
   border-collapse: collapse;
   height: 320px;
   margin: auto;
   padding:5px;
   width: 100%;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   animation: float 5s infinite;
 }
  
 th {
   color:#D5DDE5;;
   background:#1b1e24;
   border-bottom:4px solid #9ea7af;
   border-right: 1px solid #343a45;
   font-size:23px;
   font-weight: 100;
   padding:24px;
   text-align:left;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   vertical-align:middle;
   font-family: 'roboto';
   font-weight: bold;
 }
 th:first-child {
   border-top-left-radius:3px;
 }
  
 th:last-child {
   border-top-right-radius:3px;
   border-right:none;
 }
   
 tr {
   color:#ffffff;
   font-size:16px;
   font-weight:normal;
   text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
   font-family: 'roboto';
 }
  
 tr:first-child {
   border-top:none;
 }
 
 tr:last-child {
   border-bottom:none;
 }
  
 tr:nth-child(odd) td {
   background:#33363a;
 }

 tr:last-child td:first-child {
   border-bottom-left-radius:3px;
 }
  
 tr:last-child td:last-child {
   border-bottom-right-radius:3px;
 }
  
 td {
   background:#2c2f33;
   padding:20px;
   text-align:left;
   vertical-align:middle;
   font-weight:300;
   font-size:18px;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   
 }
 
 td:last-child {
   border-right: 0px;
 }
 
 th.text-left {
   text-align: left;
 }
 
 th.text-center {
   text-align: center;
 }
 
 th.text-right {
   text-align: right;
 }
 
 td.text-left {
   text-align: left;
 }
 
 td.text-center {
   text-align: center;
 }
 
 td.text-right {
   text-align: right;
 }
/* fin weas pa la tabla*/

/*weas typing*/
.typing-demo-comandos {
  width: 16ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: Roboto;
  font-size: 3em;
}
.typing-demo-home {
  width: 19ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: Roboto;
  font-size: 3em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
/*fin weas typing*/