<footer>
    <div class="footer-container">
        <div class="footer-left">
            <h1 class="footer-logo">Ruka</h1>
        </div>
        <div class="footer-right">
            <a href="{% url 'comandos' %}"><i class="icon fas fa-terminal"></i>Comandos</a>
            <a href="#"><i class="icon fas fa-donate"></i>Donar</a>
            <a href="#"><i class="icon fab fa-discord"></i>Servidor</a>
            <a class="btn-invite" href="#" style="color: white;"><i class="icon fas fa-link"></i>Invitar</a>

        </div>
    </div>
</footer>