<div class="nav-container">
    <div class="logo">
        <a class="nav-logo" href="#">Ruka</a>
    </div>
    <nav class="site-nav">
        <a href="{% url 'home' %}"><i class="icon fas fa-home"></i>Inicio</a>
        <a href="{% url 'comandos' %}"><i class="icon fas fa-terminal"></i>Comandos</a>
        <a href="#"><i class="icon fas fa-donate"></i>Donar</a>
        <a href="#"><i class="icon fab fa-discord"></i>Servidor</a>
        <a class="btn-invite" href="#" style="color: white;"><i class="icon fas fa-link"></i>Invitar</a>
        <a class="btn-login" href="#"><i class="icon fas fa-sign-in-alt"></i>Login</a>
    </nav>
</div>