<!DOCTYPE html>
<html lang="en">

<head>
    <!--{% load static %}-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/awesome/roboto.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/awesome/all.min.css' %}">-->



    <link rel="stylesheet" href="../../static/core/css/reset.css">
    <link rel="stylesheet" href="../../static/core/css/estilos.css">
    <link rel="stylesheet" href="../../static/core/css/awesome/roboto.css">
    <link rel="stylesheet" href="../../static/core/css/awesome/all.min.css">


    <title>Comandos | Ruka Bot</title>
</head>

<body class="main">
    {% include './partials/_nav.html' %}

    <section class="main">
        <div class="contenedor">
            <h1 class="typing-demo-comandos" typing-demo-comandos;>Comandos del BOT</h1>
            <h2>Administración</h2>
            <table class="table-fill">
                <thead>
                    <tr>
                        <th class="text-left">Comando</th>
                        <th class="text-left">Variantes</th>
                        <th class="text-left">descripción</th>
                        <th class="text-left">Ejemplo</th>

                    </tr>
                </thead>
                <tbody class="table-hover">
                    <tr>
                        <td class="text-left">Eliminar (cant_msj)</td>
                        <td class="text-left">purge/delete/del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    

                </tbody>
            </table>

            <h2>Administración</h2>
            <table class="table-fill">
                <thead>
                    <tr>
                        <th class="text-left">Comando</th>
                        <th class="text-left">Variantes</th>
                        <th class="text-left">descripción</th>
                        <th class="text-left">Ejemplo</th>

                    </tr>
                </thead>
                <tbody class="table-hover">
                    <tr>
                        <td class="text-left">Eliminar (cant_msj)</td>
                        <td class="text-left">purge/delete/del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    

                </tbody>
            </table>

            <h2>Administración</h2>
            <table class="table-fill">
                <thead>
                    <tr>
                        <th class="text-left">Comando</th>
                        <th class="text-left">Variantes</th>
                        <th class="text-left">descripción</th>
                        <th class="text-left">Ejemplo</th>

                    </tr>
                </thead>
                <tbody class="table-hover">
                    <tr>
                        <td class="text-left">Eliminar (cant_msj)</td>
                        <td class="text-left">purge/delete/del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    

                </tbody>
            </table>

            <h2>Administración</h2>
            <table class="table-fill">
                <thead>
                    <tr>
                        <th class="text-left">Comando</th>
                        <th class="text-left">Variantes</th>
                        <th class="text-left">descripción</th>
                        <th class="text-left">Ejemplo</th>

                    </tr>
                </thead>
                <tbody class="table-hover">
                    <tr>
                        <td class="text-left">Eliminar (cant_msj)</td>
                        <td class="text-left">purge/delete/del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    <tr>
                        <td class="text-left">Eliminar (cantidad_mensajes)</td>
                        <td class="text-left">purge | delete | del</td>
                        <td class="text-left">descripcion comando Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.</td>
                        <td class="text-left">ejemplo de uso</td>
                    </tr>
                    

                </tbody>
            </table>
        </div>

    </section>

    {% include './partials/_footer.html' %}
</body>

</html>