<!DOCTYPE html>
<html lang="en">
<head>
    <!-- {% load static %} -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}"> -->
    <link rel="stylesheet" href="../../static/core/css/reset.css">
    <link rel="stylesheet" href="../../static/core/css/estilos.css">
    <link rel="stylesheet" href="../../static/core/css/awesome/roboto.css">
    <link rel="stylesheet" href="../../static/core/css/awesome/all.min.css">


    <title>Ruka Bot</title>
</head>
<body>
    {% include './partials/_nav.html' %}
    
    <section class="main">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit ipsum impedit porro facilis repudiandae minus illum necessitatibus natus illo tenetur, earum, voluptas quos ex cupiditate recusandae dicta quibusdam possimus mollitia?</p>
    </section>

    <footer class="fondo-negro">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel optio quod illum iste porro reprehenderit nostrum hic dolores sed, minima, sapiente non tempora necessitatibus quo eligendi omnis explicabo odit! Reprehenderit!</p>
    </footer>
</body>
</html>