<!DOCTYPE html>
<html lang="en">

<head>
    <!--{% load static %}-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/awesome/roboto.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/awesome/all.min.css' %}">-->

    <link rel="stylesheet" href="../../static/core/css/estilos.css">
    <link rel="stylesheet" href="../../static/core/css/awesome/fonts.css">
    <link rel="stylesheet" href="../../static/core/css/awesome/all.min.css">


    <title>Ruka | Aburriento?, Qué es eso?</title>
</head>

<body class="fondo-flex">
    {% include './partials/_nav.html' %}

    <section class="main">
        <!--<div><h1 class="typing-demo">Bienvenido a Ruka BOT</h1></div>-->
        <!-- <h1 class="typing-demo-home margen-top titulo">Bienvenido a Ruka Bot</h1> -->
        <div class="main-first-container">
            <div class="main-container-text">
                <h1 class="main-title">¡El bot de gacha para discord con personajes de tus animes favoritos!</h1>
                <div class="main-container-subtext">
                    Ruka Bot contiene más de 80.000 cartas de tus animes favoritos, además contiene comandos de interacción, diversión, administración y utilidad.
                </div>
                <div class="main-container-btn">
                    <a class="main-container-btn-invite" href="#" style="color: white;">¡Invitar!</a>
                </div>
            </div>
            <div class="wave"></div>
        </div>
        <div class="separator">
            <p>separador</p>
        </div>
        <div class="main-two-container">

        </div>
    </section>

    {% include './partials/_footer.html' %}
</body>

</html>